<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Tech</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <!-- HEADER/ENCABEZADO -->
    <section id="header">
        <a href="#"><img src="../static/../static/img/logo.png" width="150px"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index">Inicio</a></li>
                <li><a href="shop">Tienda</a></li>
                <li><a href="login">Iniciar sesión</a></li>
                <li><a href="register">Registrarse</a></li>
                <!-- <li><a href="about.html">Acerca</a></li>
                <li><a href="contact.html">Contacto</a></li> -->
                <li id="lg-bag"><a href="cart.html"><i class="far fa fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times-circle"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="far fa fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <!-- HERO/ZONA PRINCIPAL/INICIAL -->
    <section id="hero">
        <img id="imagen" src="../static/img/ryzen5.png" alt="">
        <h4>Productos en oferta</h4>
        <h2>Muchos productos en descuento</h2>
        <h1>Productos de alto rendimiento</h1>
        <p>Ven ya a comprar</p>
        <button>¡Compra ya!</button>
    </section>
    <!-- FEATURES -->
    <section id="feature" class="section-p1">
        <div class="feature-box">
            <img src="../static/img/ryzen5.png" alt="" width="150px" height="100px" style="margin-bottom: 20px;">
            <h6>Envío gratis</h6>
        </div>
        <div class="feature-box">
            <img src="../static/img/ryzen5.png" alt="" width="150px" height="100px" style="margin-bottom: 20px;">
            <h6>Pedido en linea</h6>
        </div>
        <div class="feature-box">
            <img src="../static/img/ryzen5.png" alt="" width="150px" height="100px" style="margin-bottom: 20px;">
            <h6>Ahorra dinero</h6>
        </div>
        <div class="feature-box">
            <img src="../static/img/ryzen5.png" alt="" width="150px" height="100px" style="margin-bottom: 20px;">
            <h6>Promociones</h6>
        </div>
        <div class="feature-box">
            <img src="../static/img/ryzen5.png" alt="" width="150px" height="100px" style="margin-bottom: 20px;">
            <h6>Transacciones fáciles</h6>
        </div>
        <div class="feature-box">
            <img src="../static/img/ryzen5.png" alt="" width="150px" height="100px" style="margin-bottom: 20px;">
            <h6>Soporte 24/7</h6>
        </div>
    </section>
    <!-- PRODUCTOS DESTACADOS/MUCHO CÓDIGO PA -->
    <section id="product1" class="section-p1">
        <h2>Productos Destacados</h2>
        <p>Buenos componentes, lo más vendido</p>
        <div class="pro-container">
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h2>Servicios de overclocking</h2>
        <h2><span>30% de descuento</span> en procesadores Ryzen e Intel</h2>
        <button>Explora más</button>
    </section>

    <section id="product1" class="section-p1">
        <h2>Lo último en tecnología</h2>
        <p>Dale máxima potencia a tu pc</p>
        <div class="pro-container">
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
            <div class="pro">
                <img src="../static/img/ryzen5.png" alt="">
                <div class="description">
                    <span>Ryzen</span>
                    <h5>Ryzen 5 5600g</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$200</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart" style="color: black;"></i></a>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Regístrese para recibir ofertas</h4>
            <p>Recibe correos actualizados acerca de las últimas <span>ofertas especiales.</span></p>

        </div>
        <div class="form">
            <input type="text" placeholder="Digita tu correo">
            <button class="normal">Regístrate</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img clas="logo" src="./../static/img/logo.png" width="150px">
            <h4>Contacto</h4>
            <p>Direccion: 000000</p>
            <p>Celular: 0000000</p>

            <div class="follow">
                <h4>Siguenos</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Acerca</h4>
            <a href="#">Acerca de nosotros</a>
            <a href="#">Temrinos y condiciones</a>
            <a href="#">Contáctacnos</a>
            <a href="#">Política de privacidad</a>
        </div>
        <div class="col">
            <h4>Mi cuenta</h4>
            <a href="#">Entrar</a>
            <a href="#">Mirar carrito</a>
            <a href="#">Ayuda</a>
        </div>
        <div class="col">
            <div class="row">
                <h4>Pasarela de pagos segura</h4>
                <h4><img src="./img/pay.png" alt=""></h4>
            </div>
            <div class="copyright">
                <p> ® 2023, Tech APP</p>
            </div>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>